body{
    background-color: var(--bg-color);
}
.about_us{
    border: 1px solid white;
    margin: 100px 50px;
    padding: 50px;
    color: var(--text-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_us h2{
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.about-container .about-wrapper{
    width: 40%;
    aspect-ratio: 1;
    overflow: hidden;
}
.about-wrapper:nth-child(2){
    overflow: scroll;
}
.about-wrapper img{
    height: 100%;
    width: auto;
    transform: translateX(-10%);
}
@media (max-width: 576px){
    .about_us{
        margin: 80px 20px 20px;
        padding: 30px 10px 10px;
        text-align: justify;
        
    }
    .about-container{
        flex-direction: column;
    }
    .about-container .about-wrapper{
        width: 100%;
        height: fit-content;
    }
    
}