/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  width: 100%;
  background: var(--bg-dark);
  padding-top: 60px;
  position: static;
  
}

.footer .footer-row {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
  margin: auto;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
  padding-left: 0 !important;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: var(--text-hover);
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid var(--text-hover);
  caret-color: #fff;
  color: var(--text-color);
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: var(--text-color);
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: var(--text-hover);
}
.dev{
    width: 100%;
    text-align: center;
    padding: 8px 0 8px 0;
}
.dev div a{
  text-decoration: none;
  color: var(--text-color);
}
.dev div a:hover{
  color: var(--text-hover);
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  font-size: 25px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: var(--text-color);
}

.footer-col .icons i:hover  {
  color: var(--text-hover);
}
.subscribe-section{
    width: 50%;
}
.footer-border{
  width: fit-content;
  border-top: solid 1px var(--text-hover);
  margin: auto;
  color: var(--text-color);
  padding: 10px 0;
}
.footer-msg{
  position: fixed;
  top: 0;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  padding: 10px;
  font-weight: 400;
  border-radius: 8px;
  transition: 1s;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
@media only screen and (max-width: 600px){
  .subscribe-section{
    width: 100%;
}
  .dev{
    padding: 0 20px;
  }
}